{% render 'partials/head.liquid', title: 'SQUAD 1H' %}


<main>

    <a href="/squad1g">TEAM 1G</a>
    <a href="/squad1h">TEAM 1H</a>


    <ul class="container">
        {% for person in persons %}
        <li class="card">
            <img src="img/{{person.id}}.png" alt="{{person.name}}">
            <div> 
                <h2>{{ person.name }} - {{ person.id }}</h2>
                <span id="squad">{{ person.squad }}</span> 
            </div>
        </li>
        {% endfor %}
    </ul>

</main>



{% render 'partials/foot.liquid', squads: squads %}